.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    align-items: start;
    grid-template-areas: "all all all" 
    "left middle right";
}

#one {
    color: blue;
    grid-area: left;
}

#two {
    color: red;
    grid-area: middle;
}

#three {
    color: green;
    grid-area: right;
}

#four {
    color: black;
    grid-area: all;
}